The ultimate diploma generator, by some metu ceng students.
<br><br>

After you click submit button, just wait for a few seconds.
<br><br>

<form action="/gen/">
<input type="text" name="name" placeholder="Your full name">
<input type="submit" value="submit">
</form>
<br>

<a href="https://github.com/oznakn/diploma">Source code</a>
<br>
Diploma design belongs to someone else. we'll appriciate if that person can contact us so that we can put the name here. Thanks.


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5FEH17FES7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5FEH17FES7');
</script>

